:root{
    --mainColor: #8800ff;
    --blueColor: #00ffff;
    --blackground: #232323;
    --neuShadowOutWhite: -5px -5px 10px rgba(100, 100, 100, 0.5);
    --neuShadowOutBlack: 5px 5px 10px rgba(0, 0, 0, 0.7);
    --neuShadowInBlack: 5px 5px 10px rgba(0, 0, 0, 0.7) inset;
    --neuShadowInWhite: -5px -5px 10px rgba(100, 100, 100, 0.5) inset;
    --neuShadow: -5px -5px 10px rgba(100, 100, 100, 0.5),
                    5px 5px 10px rgba(0, 0, 0, 0.7),
                    5px 5px 10px rgba(0, 0, 0, 0.7) inset,
                    -5px -5px 10px rgba(100, 100, 100, 0.5) inset;
    --letterShadow: 5px 5px 10px rgba(0, 0, 0, 1);
    --fontTitle: 'Share Tech Mono', monospace;
    --fontContent: 'Roboto Mono', monospace;
    --neuPull: -0.4vw -0.4vw 0.8vw rgba(110, 110, 110, 0.6),
                0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.8);
    --neuPush: -0.4vw -0.4vw 1vw rgba(0, 0, 0, 0.8),
                0.4vw 0.4vw 1vw rgba(110, 110, 110, 0.6);
}


body{
    background-color: var(--blackground);
    color:white;
}

h1{
    font-family: var(--fontTitle);
    letter-spacing: 2px;
}

h2, h3{
    font-family: var(--fontContent);
}

button{
    height: 3vw;
    font-size: var(--fontTitle);
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: var(--mainColor);
    transition: transform 0.1s;
    border-radius: 5px;
}
button:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: transform 0.1s;
}
button:active{
    background-color: white;
    color: var(--mainColor);
    border:1px solid var(--mainColor);
    box-shadow: var(--neuPush);
}

input[type=email], input[type=password], input[type=text]{
    background-color:white;
    border: none;
    border-radius: 5px;
    font-family: var(--fontTitle);
    font-size: 1em;
    height: 2.5vw;
    padding-left: 1vw;
    box-shadow: var(--neuPush);
}

input[type=color]{
    border:none;
    width: 20vw;
    height: 3vw;
    transition: transform 0.1s;
}
input[type=color]:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s;
}

label{
    display: flex;
    align-items: center;
}

/* For radios: */
input[type="radio"]{
    display: none;
}
input[type="radio"] + label div{
    border: 2px solid var(--blackground);
    background-color: white;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 10vw;
    box-shadow: var(--neuPull);
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="radio"]:hover + label div{ cursor: pointer; }
input[type="radio"]:checked + label div{
    border: 2px solid var(--mainColor);
    box-shadow: var(--neuPush);
}
input[type="radio"]:checked + label div span{
    background-color: var(--mainColor);
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 1vw;
}

/* Now for checkboxes: */
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label div{
    background-color: var(--blackground);
    border: 2px solid white;
    width: 3.2vw;
    height: 1.4vw;
    border-radius: 10vw;
    box-shadow: var(--neuPull);
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"] + label div span{
    background-color: white;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 1vw;
    margin-right: 1.6vw;
    margin-left:0;
    transition: margin-right 0.1s;
}
input[type="checkbox"]:hover + label div{ cursor: pointer; }
input[type="checkbox"]:checked + label div{
    background-color: var(--mainColor);
    box-shadow: var(--neuPush);
    justify-content: center;
}
input[type="checkbox"]:checked + label div span{
    margin-left: 1.6vw;
    margin-right: 0;
    transition: margin-left 0.1s;
}

/* For ranges: */ /*Info by http://w3.unpocodetodo.info/css3/input-type-range.php*/
input[type=range] {
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb{
    background-color: var(--mainColor);
    border: 2px solid white;
    border-radius: 10vw;
    box-shadow: var(--neuShadowOutBlack);
    overflow: hidden;
}
input[type=range]::-ms-thumb{
    background-color: var(--mainColor);
    border: 2px solid white;
    border-radius: 10vw;
    box-shadow: var(--neuShadowOutBlack);
    overflow: hidden;
}
input[type=range]::-moz-range-thumb{
    background-color: var(--mainColor);
    border: 2px solid white;
    border-radius: 10vw;
    box-shadow: var(--neuShadowOutBlack);
    overflow: hidden;
}

input[type=range]::-webkit-slider-runnable-track{
    height: 3px;
    box-shadow: var(--neuPush), var(--neuPush), var(--neuPush), var(--neuPush);
    border-radius: 1vw;
    overflow: hidden;
}
input[type=range]::-ms-track{
    height: 3px;
    box-shadow: var(--neuPush), var(--neuPush), var(--neuPush), var(--neuPush);
    border-radius: 1vw;
    overflow: hidden;
}
input[type=range]::-moz-range-track{
    height: 3px;
    box-shadow: var(--neuPush), var(--neuPush), var(--neuPush);
    border-radius: 1vw;
    overflow: hidden;
}

/*Firefox*/
input[type="range"]::-moz-range-progress {
    background-color: white; 
}
input[type="range"]::-moz-range-track {  
    background-color: rgb(20,20,20);
}
/*IE*/
input[type="range"]::-ms-fill-lower {
    background-color: white; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: rgb(20,20,20);
}

/* Responsive: */
@media all and (max-width:780px){

    :root{
        --neuPull: -0.4vw -0.4vw 0.8vw rgba(110, 110, 110, 0.6),
                    0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.8);
        --neuPush: -0.5vw -0.9vw 2.7vw rgba(0, 0, 0, 0.8),
                    0.5vw 0.9vw 2.7vw rgba(110, 110, 110, 0.6);
    }

    input[type=email], input[type=password], input[type=text]{
        height: 5vw;
    }

    button{
        height: 6vw;
    }

    /* Now for checkboxes: */
    input[type="checkbox"] + label div{
        width: 10vw;
        height: 4vw;
        margin-right: 3vw;
    }
    input[type="checkbox"] + label div span{
        width: 2.7vw;
        height: 2.7vw;
        border-radius: 10vw;
        margin-right: 5.9vw;
    }
    input[type="checkbox"]:checked + label div span{
        margin-left: 5.9vw;
    }
    
}