node_modules/

dist/
.vite/

.env
.env.local
.env.*.local

android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

.DS_Store
**/.DS_Store

*.tmp
*.temp
*.swp
*.swo

auto-imports.d.ts
components.d.ts